[Unit]
Description=rpi-security service
After=multi-user.target

[Service]
Type=idle
StandardOutput=null
ExecStart=iw phy phy0 interface add mon0 type monitor; /usr/local/bin/rpi-security.py
ExecStop=iw dev mon0 del; killall rpi-security.py

[Install]
WantedBy=multi-user.target
